.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.nav__logo {
  height: 3rem;
}
.nav__navbar__link {
  padding: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: hsl(243, 87%, 12%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 2rem 0 2rem;
}
.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 0 0 0;
}
.header__text__title {
  font-size: 2.6rem;
  font-family: "Open Sans", sans-serif;
  color: hsl(243, 87%, 12%);
  padding-bottom: 2rem;
}
.header__text__description {
  font-size: 1.4rem;
  color: hsl(243, 87%, 12%);
  padding-bottom: 2rem;
}
.header__text__input {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;
}
.header__text__input .mail {
  height: 4rem;
  width: 100%;
  max-width: 35rem;
  border: 1px solid hsl(238, 22%, 44%);
  border-radius: 3px;
  padding: 0 2rem;
  color: hsl(243, 87%, 12%);
}
.header__text__input .mail::-moz-placeholder {
  color: hsl(0, 0%, 75%);
}
.header__text__input .mail::placeholder {
  color: hsl(0, 0%, 75%);
}
.header__text__input .btn-mail {
  height: 4rem;
  width: 100%;
  max-width: 35rem;
  background-color: hsl(224, 93%, 58%);
  color: hsl(240, 75%, 98%);
  border: none;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .nav__logo {
    height: 3.5rem;
  }
  .nav__navbar__link {
    font-size: 1.6rem;
  }
  .header {
    flex-direction: row-reverse;
    padding: 0 2rem;
  }
  .header img {
    width: 50%;
  }
  .header__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    text-align: left;
    padding: 3rem 0 0 0;
  }
  .header__text__title {
    font-size: 3.6rem;
    font-family: "Raleway", sans-serif;
    color: hsl(243, 87%, 12%);
    padding-bottom: 2rem;
  }
  .header__text__description {
    font-size: 1.6rem;
    color: hsl(243, 87%, 12%);
    padding-bottom: 2rem;
    max-width: 50rem;
  }
  .header__text__input {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 80%;
    gap: 0;
  }
  .header__text__input .mail {
    height: 4.5rem;
    width: 65%;
    max-width: 35rem;
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 3px;
    padding: 0 2rem;
    margin-right: 1rem;
    color: hsl(243, 87%, 12%);
  }
  .header__text__input .mail::-moz-placeholder {
    color: hsl(0, 0%, 75%);
  }
  .header__text__input .mail::placeholder {
    color: hsl(0, 0%, 75%);
  }
  .header__text__input .btn-mail {
    height: 4.5rem;
    width: 35%;
    max-width: 35rem;
    font-size: 1.6rem;
    background-color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    border: none;
    border-radius: 3px;
  }
}/*# sourceMappingURL=main.css.map */