@media (min-width: 768px) {
	.nav {
		&__logo {
			height: 3.5rem;
		}

		&__navbar {
			&__link {
				font-size: 1.6rem;
			}
		}
	}

	.header {
		flex-direction: row-reverse;
		padding: 0 2rem;

		img {
			width: 50%;
		}

		&__text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			width: 50%;
			text-align: left;
			padding: 3rem 0 0 0;

			&__title {
				font-size: 3.6rem;
				font-family: 'Raleway', sans-serif;
				color: $Very-Dark-Blue;
				padding-bottom: 2rem;
			}

			&__description {
				font-size: 1.6rem;
				color: $Very-Dark-Blue;
				padding-bottom: 2rem;
				max-width: 50rem;
			}

			&__input {
				display: flex;
				flex-direction: row;
				padding: 0;
				width: 80%;
				gap: 0;
				.mail {
					height: 4.5rem;
					width: 65%;
					max-width: 35rem;
					border: 1px solid $Desaturated-Blue;
					border-radius: 3px;
					padding: 0 2rem;
					margin-right: 1rem;

					color: $Very-Dark-Blue;
				}

				.mail::placeholder {
					color: $Light-Gray;
				}

				.btn-mail {
					height: 4.5rem;
					width: 35%;
					max-width: 35rem;
					font-size: 1.6rem;
					background-color: $Bright-Blue;
					color: $Light-Grayish-Blue;
					border: none;
					border-radius: 3px;
				}
			}
		}
	}
}
